.row {
	margin-bottom: 50px;
}

.timer {
	font-size: 5rem;
}

.fa-pause, 
.fa-stop {
	margin-left: 50px;
}

.playing {
	color: darkgreen;
}

.stoping {
	color: darkred;
}

.pausing {
	color : orange;
}
